<link rel="stylesheet" href="/css/footer.css">
<footer id="issuetrackerfooter" class="bg-light text-center text-white set-footer-positon">
  
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(16, 14, 14, 0.518);">
   
    <a class="text-white" href="http://localhost:8000/issueTracker
    ">issueTracker.com
    </a>
    </div>
    <!-- Copyright -->
    </footer